<%= render "devise/shared/alerts" %>

<div class="login">

  <%= link_to(new_session_path(resource_name)) do %>
    <div class="mainlogo"></div>
  <% end %>

	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

	  <div class="field">
	  	<%= f.label :send_new_email_confirmation %><br />
	    <%= f.email_field :email, placeholder: if (resource.errors[:email]).blank? then "e-mail address" else ("e-mail " + resource.errors[:email][0].to_s) end, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> 
	  </div>
	  <div class="forgotpassword">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "forgot password?", new_password_path(resource_name) %><br />
      <% end -%>
    </div>


	  <div class="actions">
	    <%= f.submit "RESEND" %>
	  </div>
	<% end %>

	<script>
    
    var emailElement = document.getElementById("user_email");

    emailElement.oninput = function(){ 
      emailElement.placeholder = "";
      emailElement.parentElement.className = "";
    };

  </script>


</div>
