<%= render "devise/shared/navbar" %>

    <div class="login main">

      <div class="editprofile">
        <input type="file" id="upload" value="Choose a file" accept="image/*">
        <button class="upload-result">Result</button>
        <div id="upload-demo">
        </div>
        <div id="result"></div>

        <script>

            function demoUpload() {
              var $uploadCrop;

              function readFile(input) {
                if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        
                        reader.onload = function (e) {
                    $('.upload-demo').addClass('ready');
                          $uploadCrop.croppie('bind', {
                            url: e.target.result
                          }).then(function(){
                            console.log('jQuery bind complete');
                          });
                          
                        }
                        
                        reader.readAsDataURL(input.files[0]);
                    }
                    else {
                      console.log("Sorry - you're browser doesn't support the FileReader API");
                  }
              }

              $uploadCrop = $('#upload-demo').croppie({
                viewport: {
                  width: 100,
                  height: 100,
                  type: 'circle'
                },
                boundary: {
                  width: 300,
                  height: 300
                },
                enableExif: true
              });

              $('#upload').on('change', function () { readFile(this); });
              $('.upload-result').on('click', function (ev) {
                $uploadCrop.croppie('result', {
                  type: 'canvas',
                  size: 'viewport'
                }).then(function (resp) {
                  data = { savepicture: resp.split(',')[1] }
                  // console.log(JSON.stringify(resp).length);
                  // document.getElementById('result').innerHTML = "<img src=\"" + resp + "\">";
                  $.ajax({          
                    data: data,
                    url: "/savepicture",
                    type: "PATCH",
                    dataType: "json"
                  });
                  setTimeout(function(){ window.location.href = "/users/edit" }, 100);
                });
              });
            }

        </script>

        <script>
          demoUpload();
        </script>
      </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

   

      <div class="field">
        <%= f.email_field :email, placeholder: if (resource.errors[:email]).blank? then "e-mail" else ("e-mail " + resource.errors[:email][0].to_s) end, autofocus: true %>
      </div>

      <div class="field">
          <%= f.text_field :firstname, placeholder: if (resource.errors[:firstname]).blank? then "first name" else ("first name " + resource.errors[:firstname][0].to_s) end %><span class="help-inline"></span>
      </div>

      <div class="field">
        <%= f.text_field :lastname, placeholder: if (resource.errors[:lastname]).blank? then "last name" else ("last name " + resource.errors[:lastname][0].to_s) end %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <div class="editnotification"><i>(leave blank if you don't want to change it)</i></div>
        <%= f.password_field :password, placeholder: if (resource.errors[:password]).blank? then "password" else ("password " + resource.errors[:password][0].to_s) end, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: if (resource.errors[:password_confirmation]).blank? then "password confirmation" else (resource.errors[:password_confirmation][0].to_s) end, autocomplete: "off" %>
      </div>

      <div class="field">
        <div class="editnotification"><i>(we need your current password to confirm your changes)</i></div>
        <%= f.password_field :current_password, placeholder: if (resource.errors[:current_password]).blank? then "current password" else (resource.errors[:current_password][0].to_s) end, autocomplete: "off" %>
      </div>


      <div class="actions">
        <%= f.submit "UPDATE" %>
      </div>
    <% end %>


    <div class="cancelaccount">
      <%= button_to "Cancel my account", registration_path(resource_name), 
        data: { confirm: "Delete account, Are you sure?" }, method: :delete %>
    </div>
  </div>

  <script>

    document.getElementById("dropdowninvite").style.display = "none";
    document.getElementById("dropdownremove").style.display = "none";
    document.getElementById("dropdownleave").style.display = "none";
    document.getElementById("dropdownprofile").style.display = "none";
    
    
    
    var emailElement = document.getElementById("user_email");
    var firstnameElement = document.getElementById("user_firstname");
    var lastnameElement = document.getElementById("user_lastname")
    var passwordElement = document.getElementById("user_password")
    var password_confirmationElement = document.getElementById("user_password_confirmation")

    emailElement.oninput = function(){ 
      emailElement.placeholder = "";
      emailElement.parentElement.className = "";
    };
    firstnameElement.oninput = function(){ 
      firstnameElement.placeholder = "";
      firstnameElement.parentElement.className = "";
    };
    lastnameElement.oninput = function(){ 
      lastnameElement.placeholder = ""; 
      lastnameElement.parentElement.className = "";
    };
    passwordElement.oninput = function(){ 
      passwordElement.placeholder = ""; 
      passwordElement.parentElement.className = "";
    };
    password_confirmationElement.oninput = function(){ 
      password_confirmationElement.placeholder = ""; 
      password_confirmationElement.parentElement.className = "";
    };

    var dropdown = document.getElementById("maindropdown");
    document.getElementById("dropdownbutton").onclick = function() {
      if (dropdown.style.display != "block") {
        dropdown.style.display = "block"; 
      } else {
        dropdown.style.display = "none";
      }
    }

    var dropdowninvite = document.getElementById("dropdowninvite");
    dropdowninvite.onclick = function(){ 
      populateUserList({ invite: true, remove: false });
      document.getElementById("maindropdown").style.display = "none";
    }

    var dropdownremove = document.getElementById("dropdownremove");
    dropdownremove.onclick = function(){
      populateUserList(options = {invite: false, remove: true});
      document.getElementById("maindropdown").style.display = "none";
    }
  </script>
</div>



