<%= render "devise/shared/alerts" %>

<div class="login">

	<%= link_to(new_session_path(resource_name)) do %>
    <div class="mainlogo"></div>
  <% end %>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

	  <div class="field">
	  	<%= f.label :forgot_password %><br />
	    <%= f.email_field :email, placeholder: if (resource.errors[:email]).blank? then "e-mail" else ("e-mail " + resource.errors[:email][0].to_s) end, autofocus: true %>
	  </div>
	  <div class="forgotpassword">
			<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
			  <%= link_to "Didn't receive confirmation?", new_confirmation_path(resource_name) %><br />
			<% end -%>
		</div>

	  <div class="actions">
	    <%= f.submit "RESET" %>
	  </div>
	<% end %>

	<script>
    
    var emailElement = document.getElementById("user_email");

    emailElement.oninput = function(){ 
      emailElement.placeholder = "";
      emailElement.parentElement.className = "";
    };

  </script>


</div>
