<%= render "devise/shared/alerts" %>

<div class="login">

	<%= link_to(new_session_path(resource_name)) do %>
    <div class="mainlogo"></div>
  <% end %>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.email_field :email, placeholder: "enter e-mail address to reset password", autofocus: true %>
	  </div>
	  <div class="forgotpassword">
			<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
			  <%= link_to "Didn't receive confirmation?", new_confirmation_path(resource_name) %><br />
			<% end -%>
		</div>

	  <div class="actions">
	    <%= f.submit "Reset" %>
	  </div>
	<% end %>

</div>
