<div class="main">
	<div class="signout">
		<% if user_signed_in? %>
			<%= link_to("Sign Out", destroy_user_session_path, method: :delete) %>
			<% else %>
			<%= link_to("Sign In", user_session_path) %>
		<% end %>
	</div>



	<div class="tracking">
		<% if @user.tracking %>
			<%= link_to("Hide Location", stoptracking_path, method: :patch) %>
			<% else %>
			<%= link_to("Show Location", starttracking_path, method: :patch) %>
		<% end %>
	</div>
	<% if @user.tracking %>
		<div class="title" style="color: green">Markco 1</div>
	<% else %>
		<div class="title" style="color: red">Markco 1</div>
	<% end %>
	<div class="userid" id="roomid">
		<%= @user.email %>
	</div>
	<div class="yourlocation" id="yourlocation">

		<div id="map">
			<div class="loading">  
				<%= image_tag "loading.gif" %>
			</div> 
		</div>
		<% if notice %>
			<p class="notice success alert-box"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert error alert-box"><%= alert %></p>
		<% end %>

		<script>
			setTimeout(fade_out, 5000);

			function fade_out() {
			  $(".notice").fadeOut(1000, function() { 
			  	$(this).remove()
			  });
			  $(".alert").fadeOut(1000, function() { 
			  	$(this).remove()
			  });
			}

		</script>
		<div id="status"></div>
		<div id="status2"></div>
		<div id="status3"></div>

		

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWjXhmnA63FsuAVIrTzKRG_D5SJZrDrqg&callback=initMap" async defer></script>
	</div>

</div>
