<div class="navbar-markco">
	<div class="navleft"><div class="avatar" id="avatar"></div></div>
	<div class="navmiddle"><div class="iconlogo"></div></div>
	<div class="navright"><div class="hamburger glyphicon glyphicon-menu-hamburger" id="dropdownbutton"></div></div>
</div>
<div class="dropdowntest">
	<div class="dropdown-nav" id="maindropdown">

		<div class="dropdown-email">testing@testing.com</div>
		<ul>
			<li id="dropdownhome">Home</li>
			<li id="dropdownprofile"><%= link_to("Profile", edit_user_registration_path) %></li>
			<li id="dropdowninvite">Invite</li>
			<li id="dropdownremove">Remove</li>
		</ul>
		<div class="dropdown-tracking" id="dropdown-tracking">
			<% if @user.tracking %>
				<%= link_to(stoptracking_path, method: :patch) do %>
				 <%= image_tag "toggle-on.png" %>
				 <script> document.getElementById("avatar").style.border = "3px solid green"; </script>
				 <% end %><br />(Tracking)
				<% else %>
				<%= link_to(starttracking_path, method: :patch) do %>
					<%= image_tag "toggle-off.png" %>
					<script> document.getElementById("avatar").style.border = "3px solid white"; </script>
				<% end %><br />(Tracking)<% end %>
		</div>
		<div class="dropdown-signout" id="dropdown-signout">
			<% if user_signed_in? %>
				<%= link_to("Sign Out", destroy_user_session_path, method: :delete) %>
				<% else %>
				<%= link_to("Sign In", user_session_path) %>
			<% end %>
		</div>
	</div>
</div>


	
<div class="main">

	<div class="tracking">
	</div>
	<% if @user.tracking %>
		<div class="title" style="color: green">Markco 1</div>
	<% else %>
		<div class="title" style="color: red">Markco 1</div>
	<% end %>
	<div class="userid" id="roomid">
		<%= @user.email %>
	</div>
	<div class="yourlocation" id="yourlocation">

		<div id="map">
			<div class="loading">  
				<%= image_tag "loading.gif" %>
			</div> 
		</div>
		<div class="bottomButtons">
			<span class="invite generalbutton" id="invitebutton">Invite</span>
			<span class="home generalbutton" id="homebutton">Leave</span>
			<span class="remove generalbutton" id="removebutton">Remove</span>
		</div>
		<script>
			setTimeout(fade_out, 5000);

			 function fade_out() {
			  $(".notice").fadeOut(2000, function() { 
					$(".notice").remove();
			  });
			  $(".alert").fadeOut(2000, function() { 
			 		$(".alert").remove();
			  });
			}
			var dropdown = document.getElementById("maindropdown");
			document.getElementById("dropdownbutton").onclick = function() {
				if (dropdown.style.display == "none") {
					dropdown.style.display = "block"; 
				} else {
					dropdown.style.display = "none";
				}
			}

			var dropdowninvite = document.getElementById("dropdowninvite");
			dropdowninvite.onclick = function(){ 
				populateUserList({ invite: true, remove: false });
				document.getElementById("maindropdown").style.display = "none";
			}

			var dropdownremove = document.getElementById("dropdownremove");
			dropdownremove.onclick = function(){
				populateUserList(options = {invite: false, remove: true});
				document.getElementById("maindropdown").style.display = "none";
			}

			var tracking = function(){
				console.log("Tracking!");
			}

		</script>
		<div id="status" class="status">
			<% if notice %>
				<p class="notice success alert-box"><%= notice %></p>
			<% end %>
			<% if alert %>
				<p class="alert error alert-box"><%= alert %></p>
			<% end %>
		</div>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWjXhmnA63FsuAVIrTzKRG_D5SJZrDrqg&callback=initMap" async defer></script>
	</div>

</div>
