<!DOCTYPE html>
<html>
<head>
  <title>Markco1</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!-- The Modal -->
	<div id="myModal" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <!-- <span class="close">x</span>  -->
	    <div class="inviteMessage"><span id="userInviting"></span> has invited you to join their map!</div>
	    <div class="inviteButtons"><span id="acceptInvite">Accept</span><span id="declineInvite">Decline</span></div>
	  </div>

	</div>

	<div id="myModal2" class="modal2">

	  <!-- Modal content -->
	  <div class="modal-content2">
	  	<span class="close" id="close">x</span>
	    <div class="userListHeader" id="userListHeader"></div>
	    <div>
	    	<ul class="userList" id="userList">

	    	</ul>
	    </div>
	  </div>

	</div>
	<!-- <% if notice %>
		<p class="notice success alert-box"><%= notice %></p>
	<% end %>
	<% if alert %>
		<p class="alert error alert-box"><%= alert %></p>
	<% end %> --> 

	<div class="mainmain">

		<%= yield %>

	</div>


</body>
</html>
