<!DOCTYPE html>
<html>
<head>
  <title>Markco1</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<!-- The Modal -->
	<div id="myModal" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <!-- <span class="close">x</span>  -->
	    <div class="inviteMessage"><span id="userInviting"></span> has invited you to join their map!</div>
	    <div class="inviteButtons"><span id="acceptInvite">Accept</span><span id="declineInvite">Decline</span></div>
	  </div>

	</div>

	<div id="myModal2" class="modal2">

	  <!-- Modal content -->
	  <div class="modal-content2">
	  	<span class="close" id="close">x</span>
	    <div class="userListHeader" id="userListHeader"></div>
	    <div>
	    	<ul class="userList" id="userList">

	    	</ul>
	    </div>
	  </div>

	</div>
 

	<div class="mainmain">

		<%= yield %>

	</div>


</body>
</html>
